# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=app_database
DB_USER=app_user
DB_PASSWORD=secure_password

# Auth Configuration
JWT_SECRET=secure_password

# File Storage Configuration
UPLOAD_LOCATION=./media
UPLOAD_DIRECTORY_LEVELS=2

# Image Processing
IMAGE_MAX_WIDTH=1920
IMAGE_THUMB_WIDTH=300

# IA / Background Task 
IA_TASKS_ENABLED=true
IA_WORKER_BASE_URL=http://localhost:8000

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379


#DATABASE_URL=postgres://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}